.e3_dialog
{
	font-size: 13px;
}

.e3_dialog_section
{
	margin-bottom: 24px;
}
.e3_dialog_header
{
	margin-bottom: 1em;
	padding-left: 4px;
	border-bottom: 3px double #9a661f; /* TODO: #A9A9A9; */
	color: #9a661f;
	font-weight: bold;
	font-size:14px;
}
.e3_dialog_header .disabled
{
	color: #708090;
}
.e3_dialog_header .enabled
{
	font-weight: bold;
	color: #191970;
}
.e3_dialog_radio_set
{
	margin-top: 1em;
}
.e3_dialog_radio_header
{
	/* font-weight: bold; */
	margin-bottom: 6px;
}
.e3_dialog_radio_entry
{
	margin-left: 1em;
}
.e3_dialog_instructions
{
	font-size: 13px;
	color: #656565;
	margin-left: 12px;
	margin-bottom: 18px;
}
.e3_dialog_plain
{
	font-size: 13px;
	margin-left: 12px;
	margin-bottom: 18px;
}
.e3_wide
{
	width: 600px;
}
.e3_dialog_footnote
{
	font-size: 12px;
	font-style:italic;
	text-align: right;
	margin-right: 20px;
	margin-top: 12px;
}

input.e3_date_input
{
	font-family: inherit;
	font-size: 13px;
	width: 100px;
}

input.e3_datetime_input
{
	font-family: inherit;
	font-size: 13px;
	width: 160px;
}

.e3_edit_set
{
	display: table;
	margin-top: 12px;
}
.e3_edit_set_row
{
	display: table-row;
}
.e3_edit_set_entry_header
{
	display: table-cell;
	text-align: right;
	font-weight: bold;
	color: #656565;
	padding-left: 20px;
	background-position: center left;
	background-repeat: no-repeat;
}
.e3_edit_set_entry_field
{
	display: table-cell;
	padding-left: 12px;
}
.e3_edit_set_entry_header_radio
{
	display: table-cell;
	text-align: left;
	font-size: 13px;
	color: black;
	font-weight: normal;
	padding-bottom: 4px;
}
.e3_edit_set_entry_field_radio
{
	display: table-cell;
	padding-right: 6px;
	padding-left: 6px;
	font-size: 13px;
	padding-bottom: 2px;
}

.e3_edit_header_top_align
{
	vertical-align:top;
}

/* changes for the jquery css */
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset
{
   float: none;
}

.e3_primary_dialog_button
{
	border: 3px double blue !important;
}
